<h3>Existing VPCs:</h3>
<ul>
  {% for vpc in vpcs %}
    <li>{{ vpc['VpcId'] }} - {{ vpc['CidrBlock'] }} 
        <a href="/?cidr={{ vpc['CidrBlock'] }}">View Details</a></li>
  {% else %}
    <li>No VPCs found</li>
  {% endfor %}
</ul>

<form method="POST">
  Enter CIDR block to create a new VPC: <input type="text" name="cidr"><br>
  {% if exists %}
    VPC with CIDR {{ cidr }} exists. Do you want to delete and recreate it?
    <input type="hidden" name="confirm_delete" value="yes">
    <button type="submit">Yes, delete and recreate</button>
  {% else %}
    <button type="submit">Create VPC</button>
  {% endif %}
</form>

